.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}
select {
  font-family: Cursive;
  -moz-appearance: none;
  border: 2px solid #f2ae67;
  border-radius: 10%;
  margin-right: 2% ;
  width: 180px;
  background-color: #aa5849;
  color: #f2ae67;
  text-align: center;
    
}
.title{
  font-family: fantasy;
  text-shadow: 4px 4px #aa5849;
  font-size: -webkit-xxx-large;
  color: #f2ae67;
padding: 4%;
}
.images{
  height: 5vh;
}
.table {
  background-color: transparent;
  overflow: auto
}

.divTitle{
  width: 100%;
  height: 25vh;
}
.selectVehicles{
  width: 100%;
  height: 25vh;
}
.tableVehicles{
  width: 100%;
  height: 47vh;
  overflow: auto;
}
