.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  /* top: 30%; */
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  height: 100vh;
}
select {
  font-family: Cursive;
  -moz-appearance: none;
  border: 0;
  border-radius: 10%;
  font-size: 20px;
  margin-right: 2% ;
  width: 180px;
  
}
.title{
  font-family: Cursive;
  margin: 60px;
  text-shadow: 4px 4px #190b0b;
}
.images{
  width: 138px;
  height: 64px;
}
.table {
  width: 53%;
  margin-bottom: 1rem;
  background-color: transparent;
  margin: 7% auto;
}